body {
  background: linear-gradient(135deg, #eef2f7, #f8f9fa);
}

.tarjeta-custom {
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* prioridades */
.prioridad-alta {
  border-left: 6px solid #dc3545;
}

.prioridad-media {
  border-left: 6px solid #073dff;
}

.prioridad-baja {
  border-left: 6px solid #198754;
}

/* botones */
.btn-light {
  background: #f1f3f5;
  border: none;
}

.btn-light:hover {
  background: #e2e6ea;
}

/* checkbox */
input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

label {
    margin-top: 10px;
}

input, select, textarea {
    margin-bottom: 15px;
}


calendar {
    max-width: 700px;
    background: rgb(250, 249, 249);
    padding: 15px;
    border-radius: 10px;
    height: 500px;
    margin: 40 px auto;
}

body { font-family: Arial, sans-serif; margin: 40px; background-color:#f8f9fa; }
  #calendar { max-width: 900px; 
    margin: 0 auto; 
    background:white; 
    padding:20px; border-radius:12px; box-shadow:0 4px 15px rgba(0,0,0,0.1);}

.leyenda-oculta {
    display: none; 
    position: absolute; 
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 160px;
    z-index: 10;
}
.leyenda-color {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #aaa;
}
.leyenda-wrapper {
    position: relative; 
    display: inline-block;
}